* {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0;
    font-size: 72px;
    text-align: center;
  }
  
  .box {
    height: 100%;
    width: 100%;
  }
  
  .t-lightgrey {
    height: 100vh;
    background-color: lightgrey;
    padding: 16px;
  }
  
  .t-black {
    background-color: black;
    padding: 16px;
  }
  
  .t-crimson {
    background-color: crimson;
    padding: 24px;
  }
  
  .t-khaki {
    background-color: khaki;
    padding: 30px;
  }